/* En font som är taging från google kallas för Tenali Ramakrishna */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700;900&display=swap');
/* body style för att sidan ska se normal ut med en bestämmed font till allt text '*/
body {
    margin:0;
	padding:0;
    font-family: 'Tenali Ramakrishna', sans-serif;
    width:100%;
    height:100%;
}
/*wrapper div grid layout ,tvåspaltslayout,minst 100 view höjd, grid gap 0.7rem upp och ner */
.wrapper {
	display: grid;
	grid-template-areas: 
	"header header" 
	"main main"
    "footer footer"; 
	min-height: 100vh;
	grid-gap: 0.7rem 1rem; 
}
/*Header*/
/*Header grid layout*/
header {
    grid-area: header; 
    display: grid;
    grid-template-areas:
    "logo . nav";
    grid-template-columns: 1fr;
	background-image:url("travis.jpg") ;
	background-position: 10% 20%;
    height:13rem;
}
/* style logo img in header */
header img {
    grid-area: logo;
    display:grid;
    height: 11rem; 
    width: 13rem; 
	margin-top:1rem;
}
/*nav style*/
nav{
    grid-area: nav; 
    display:grid;
    font-weight: 700;
}
/*style på alla li med dessa klasseer */
.linksme, .dropdown, .social1, .social{
	list-style-type:none;	
}
/*style på listan med class mainlink*/
.mainlink {
	position: relative;
	display: inline-block;
	background-color:#111111;
	box-shadow: 10px 10px 41px 5px rgba(0,0,0,0.68);
	padding:0.9rem 3.5rem ;
}
.mainlink a {
	color:white;
	text-decoration:none;   
}
/*style på lista med class dropdown så den är inte synlig tills man hover över den*/
.dropdown {
	display: none;
	position :absolute;
	left:-5%;	
	background-color: white;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding: 0.7rem 0 ;
	margin:1rem;
	width:11rem;
}
.dropdown li{ 
	z-index:1;
	padding:0.5rem;
}
.dropdown a {
	font-size:1.6rem;
	display:block;
	text-align:center;
}
/* slect the first li for the dropdwon list list*/
.dropdown li:nth-child(1){
	border-bottom:1.5px solid black;	
}
.mainlink:hover .dropdown {
	display: block;
}
.mainlink:hover a{
	color:#781A65;	
}
/* footer*/
/* footer gridlayout*/
footer {
    grid-area: footer;
    display: grid;
    grid-template-areas:
    "social";
	grid-template-columns: 1fr;
	background-color:#101010;
	grid-gap:30px;
}
/*style social list in footer*/
.social{
    grid-area:social;
	display:grid;
	justify-content:center;
	float:left;
}
/*style alla bilder i social ul */
.social img {
    width: auto;
    height:2.5rem;
    border-radius: 20%;
}
.social li{
	float: left; 
	margin: 0 11px;
}
/*LOve fokus hate style på alla länkar i alla sidor*/
a:link{
    font-size:1.8rem; 
    text-decoration:none;
}
a:visited{
	opacity:0.5;
}
a:focus, a:hover {
   opacity:0.7;
}
a:active{
    opacity :0.8;
}
/* nav style */

/*Page 1 Home*/
/*main grid layout , använda med med id för att specificera för just home page*/
#home main {
	grid-template-columns: 2.5fr 1fr;
    grid-area: main;
    display: grid;
    grid-template-areas:
    "textinfo imginfo"; 
	padding:1rem;
}
/*grid area textinfor som är första section i home page anvande id selector för släppa och göra massa klasser*/
#home section:nth-child(1){
	grid-area:textinfo;
	display:grid;
	background-color:#004387;
	overflow: auto;
	max-height:35rem;
}
#home section:nth-child(1) h1 {
	text-align:center;
	font-size:2.5rem;
	color:black;
	text-decoration:underline;
	margin-top:2rem;
}
/*style text for smaller screens*/
@media screen and (max-width: 992px) {
#home h1   {
    font-size:1.25rem;
	
  }
}
/*styler text med hjälp av id selctor */
#home p{
	font-size:1.2rem;
	color:white;
	margin:0.5rem;
	padding:0.2rem;
}
/*style text for mindre screens med hjälp utav id selector */
@media screen and (max-width: 992px) {
#home  p{
    font-size:0.6rem;	
  }
}
#home section:nth-child(2){
	grid-area:imginfo;
	display:grid;
}
#home section:nth-child(2) img{
	height:35rem;
	width:auto;
}

/*page 2 News style*/
/*main grid layout*/
#news main{
    grid-area: main;
    display: grid;
    grid-template-areas:
    "sp . " 
	"vid ."; 
	grid-template-rows: 0.5fr 0.5fr;
	background: linear-gradient( #003678 ,#003B87 );
	box-shadow: 10px 10px 41px 5px rgba(0,0,0,0.68);
}
/*styleförsta section i News page med hjälp av id selector och nth child, style också element med hjälp av det */
#news section:nth-child(1){
	grid-area:sp;
	display:grid;
	width:100vw;	
}
#news section:nth-child(1) h1{
	text-align:center;
	font-size:2.5rem;
	font-weight: 700;
	color:white;
	text-shadow: 2px 2px 2px rgb(0, 153, 0);
}
#news section:nth-child(1) ul{
	list-style:none;
	text-align:center;
}
#news section:nth-child(1) li{
	padding:2rem;
}
#news section:nth-child(1) a {
	color:white;
	font-size:2rem;
	float:left;
	text-decoration:none;
	border-bottom: 3px solid #009900;
	text-shadow: 2px 2px 2px rgb(0, 153, 0);
}
audio{                                           
	width:50vw;
}
/*styla andra section i news page, med hjälp av id selector och nth child 2, också här stylade alla elemnt med hjälåp av det*/
#news section:nth-child(2){
	grid-area:vid;
	display:grid;
	justify-content: center;
}
#news section:nth-child(2) h1 {
	text-align:center;
	font-size:2.5rem;
	font-weight: 700;
	color:white;
	text-shadow: 2px 2px 2px #CC0000;
}
#news section:nth-child(2) a{
	text-align:center;
	font-size:1.5rem;
	font-weight: 700;
	color:white;
	text-shadow: 2px 2px 2px #CC0000;
}
/*style video element,sozenig och shadow*/
video{
	width:70vw;
	height:auto;
	text-align:center;
	box-shadow: 10px 10px 41px 5px rgba(0,0,0,0.68);
	margin:1.3rem;
}
/* page 3 Shows style*/
/* main grid layout*/
#Shows main{
    grid-area: main;
    display: grid;
    grid-template-areas:
	"BForm Bform"
    "showsol showsol"; 
	grid-template-rows:  0.7fr 0.3fr;
	background: linear-gradient( #003678 ,#003B87 );
	justify-content:center;
}
/*style h2 som är bara i en section*/
section > h2{
	font-size:2.5em;
	font-weight: 700;
	color:white;
	text-shadow: 2px 2px 2px #CC0000;
    text-align:center;
}
/* style den första section i Shows page */
#Shows section:nth-child(1){
	grid-area:BForm;
	display:grid;
}
/* form style*/
form{
	text-align:center;
}
input, select {
	margin: 0.3rem 0.6rem 0.3rem 0;
	padding: 0.6rem;
	border: 1px solid #ddd;
}
label {
	margin: 0.3rem 0.6rem 0.3rem 0;
	display:flex;
	text-align:center;
}
input[type="submit"]{
	background-color: dodgerblue;
}
input[type="submit"]:hover{
    background-color: royalblue;
}
/*input fokus så när man skriver ändras backgrounden till gul*/
input:focus {
  background-color: yellow;
}
/*styla andra section i Shows page*/
#Shows section:nth-child(2){
    grid-area:showsol;
    display:grid;
}
/*styla ol listan*/
ol{
    font-size:2rem;
    color:white;
    text-align:center;
}
/* page 4 'Clothes' style*/
/* main grid layout*/
#Clothes main{
    grid-area: main;
    display: grid;
    grid-template-areas:
      ". ."
	"tables .";  
}
#Clothes h1{
    font-size:3rem;
    text-shadow: 2px 2px 2px Orange;
    text-align:center;
}
/*bestämma andra div till tables i grid layout*/
#Clothes div:nth-child(2){
    grid-area:tables;
    display:grid;
    margin:1rem;
}
/*table styl*/
table{
    border-collapse: collapse;
    margin:1rem;
}
table, th, td {
    border: 1px solid black;
    text-align: center;
}
table {
    table-layout: fixed;
    width: 95%;
    border-collapse: collapse;
    border: 3px solid black;
}

thead th {
    width: 100%;
  
}
tboday td{
    width:25%
}
th, td {
    padding: 2rem;
}
/*ändra background färgen (en ja och en nej)*/
tr:nth-child(even) {
    background-color: #f2f2f2;
}
/*PAge 5 'Social'*/
/*main grid layout*/
#Social main{
    grid-area:main;
    display:grid;
    grid-template-areas:
     "socialse socialse";
}
/*bestämma första section till area socialse i grid med hjälp av id selector och nth child för att minska klassor*/
#Social section{
    grid-area:socialse;
    display:grid;
    justify-content:center;
}
/*ändra alla text med element h1 u social page*/
#Social h1{
    font-size:3rem;
    text-shadow: 2px 2px 2px white;
    text-align:center;
}
/*style bilder i section på social page*/
#Social section img{
    position:relative;
    width:6em;
    height:auto;
    float:left;
    margin:1rem;
    border-radius: 20%;
}
/*stylar a element i Social page*/
#Social a{
    text-align :center;
}
